.buttonGroup {
  display: flex;
  margin-top: auto;
  padding-top: 30px;
  color: black;
  .buttonAll {
    width: 100%;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
  }

  .buttonAll:hover {

    background: rgba(0, 0, 0, 0.5);
  }

  .buttonAll:active {
    transform: scale(0.97);

    background: rgba(0, 0, 0, 0.5);
  }

  .buttonActive {
    width: 100%;
    padding: 5px;
    border-radius: 0;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
  }

  .buttonActive:hover {

    background: var(--color-info-700);
  }

  .buttonActive:active {
    transform: scale(0.97);

    background: var(--color-info-700);
  }

  .buttonComplete {
    width: 100%;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
  }

  .buttonComplete:hover {

    background: var(--color-success-500);
  }

  .buttonComplete:active {
    transform: scale(0.97);

    background: var(--color-success-500);
  }
}

.active{
  background: var(--color-accent-500);
  border-radius: 0;
  border: 1px solid var(--color-accent-500);
  color: var(--color-light-100);
  &:hover{
    background: var(--color-accent-500);
  }
  &:first-child{
    border-bottom-left-radius:5px ;
    border-top-left-radius:5px ;
  }
  &:last-child{
    border-bottom-right-radius:5px ;
    border-top-right-radius:5px ;
  }
}